@use '../../scss/variables/colors';

.layout {
  display: grid;
  height: 100vh;
  background-color: colors.$azure-radiance300;
  overflow: auto;
  grid-template-rows: auto 1fr;
}

.main-content {
  flex: 1;
  padding: 2rem; 
}