@use '../../scss/variables/colors';

.nav {
  background-color: colors.$primary-color; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 5rem;
  padding: 1rem;

  ul {
    display: flex;
    gap: 2rem;
    list-style: none; 

    li {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: colors.$white; 
        text-decoration: none; 
        transition: color 0.3s ease;

        &:hover {
          color: colors.$outer-space;
        }
      }
    }
  }
}